@charset "utf-8";

/*.informationBox*/
.information_wrap{width: 100%; height: calc(100% - 70px); position: relative;}
.information_wrap > form{display: block; width: 810px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%);}
.information_wrap > form > div{border: 1px solid #fff; padding: 20px 0;}
.information_wrap > form > div:nth-of-type(1){border-bottom: none; padding-bottom: 10px;}
.information_wrap > form > div:nth-of-type(2){border-top: none; padding-top: 10px;}
.information_wrap > form div > p{display: inline-block; width: 125px; height: 41px; color: #fff; padding-left: 25px; margin-bottom: 0;}
.information_wrap > form div > p > span:nth-child(1){ font-size: 1.4rem; color: #fff; line-height: 41px;}
.information_wrap > form div > p > span:nth-child(2){color: #e64135; font-size: 1.4rem; display: inline-block; transform: translate(2px, 2px); line-height: 41px;}
.information_wrap > form div > input{width: 250px; height: 33px; padding-left: 10px; font-size: 1.333rem; color: #fff; margin: 4px 0; margin-left: 6px; border: 1px solid #fff; background: transparent;}
.information_wrap > form div > button{width: 140px; height: 40px; border: none; background: none; font-size: 1.4rem; cursor: pointer; margin-left: 6px; margin-top: 1px; color: #fff; border: 1px solid #fff;}
.information_wrap > form > div > div{display: inline-block;}
#root > div > div > div > main > div > div > form > div:nth-child(2) > div:nth-child(1){margin-right: 12px;}
#root > div > div > div > main > div > div > form > div:nth-child(2) > div:nth-child(2) > input[type=text]{width: 217px;}
.information_wrap > form > p{margin-top: 20px; text-align: center; margin-bottom: 0;}
.information_wrap > form > p > a{width: 140px; height: 39px; display: inline-block; color: #fff; font-size: 1.5rem; line-height: 39px; border: 1px solid #fff;}
.information_wrap > form > p > span{width: 140px; height: 39px; display: inline-block; color: #fff; font-size: 1.5rem; cursor: pointer; background: none; line-height: 39px; margin-right: 12px; border: 1px solid #fff; box-shadow: none;}
#root > div > div > div > main > div > div > form > div:nth-child(1) > div:nth-child(1){margin-right: 12px;}
#root > div > div > div > main > div > div > form > div:nth-child(1) > div:nth-child(1) input{color: #fff; cursor: default; background: #aaa;}