@charset "utf-8";

/*.informationBox*/
.information_wrap{width: 100%; height: calc(100% - 70px); position: relative;}
.information_wrap > form{display: block; width: 890px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); }
.information_wrap > form > div{height: 45px; border-bottom: 2px solid #e5e5e5; margin-top: 1px; line-height: 45px;}
.information_wrap > form > div:nth-child(1){border-top: 2px solid #4b4b4b;}
.information_wrap > form div > p{display: inline-block; width: 125px; height: 41px; background: #f7f8f9; padding-left: 25px; margin-bottom: 0;}
.information_wrap > form div > p > span:nth-child(1){ font-size: 1.4rem; color: #222; }
.information_wrap > form div > p > span:nth-child(2){color: #e64135; font-size: 1.4rem; display: inline-block; transform: translate(2px, 2px);}
.information_wrap > form div > input{width: 250px; height: 33px; border: 1px solid #e5e5e5; padding-left: 10px; font-size: 1.6rem; color: #6d6d6d; margin: 4px 0; margin-left: 6px;}
.information_wrap > form div > button{width: 140px; height: 40px; border: none; background: #0086d1; color: #e5e5e5; font-size: 1.4rem; cursor: pointer; margin-left: 6px; margin-top: 1px; color: #fff;}
.information_wrap > form > div > div{display: inline-block;}
#root > div > div > div > main > div > div > form > div:nth-child(2) > div:nth-child(1){margin-right: 12px;}
#root > div > div > div > main > div > div > form > div:nth-child(2) > div:nth-child(2) > input[type=text]{width: 217px;}
.information_wrap > form > p{margin-top: 20px; text-align: center; margin-bottom: 0;}
.information_wrap > form > p > a{width: 140px; height: 39px; display: inline-block; color: #000; font-size: 1.5rem; background: #f7f5f4; line-height: 39px;}
.information_wrap > form > p > span{width: 140px; height: 39px; display: inline-block; color: #fff; font-size: 1.5rem; cursor: pointer; background: #20499e; line-height: 39px; margin-right: 12px; border: none; box-shadow: none;}
#root > div > div > div > main > div > div > form > div:nth-child(1) > div:nth-child(1){margin-right: 12px;}
#root > div > div > div > main > div > div > form > div:nth-child(1) > div:nth-child(1) input{color: #fff; cursor: default; background: #aaa;}