@charset "utf-8";

.left_nav{width: 240px; height: calc(100% - 50px); position: absolute; bottom: 0; left: 0; background: #212529; transition: .5s;}
.react_app.open .left_nav{transform: translateX(0);}
.react_app.close_ .left_nav{transform: translateX(-100%);}
.left_nav > ul{width: 100%; margin-top: 20px;}
.left_nav > ul > li{width: 100%; height: 50px;}
.left_nav > ul > li > a{display: block; width: 100%; height: 100%; color: #aaa; font-size: 1.4rem; padding-left: 20px;}
.left_nav > ul > li > a:hover, .left_nav > ul > li > a:focus, .left_nav > ul > li > a.menu_active{color: #09d9fe; transition: .5s; text-decoration: none;}
.left_nav > ul > li > a .awesome-icon{margin: 17px 15px 17px 0;}
.left_nav > ul > li > a span{line-height: 50px !important;}
.left_nav > ul > li > a.on{color: #09d9fe; font-weight: bold;}