@charset "utf-8";

footer{width: calc(100% - 240px); height: 50px; border-top: 1px solid #09d9fe; position: fixed; bottom: 0; right: 0; background: #252525;}
footer > p{width: 100%; height: 100%; line-height: 50px; text-align: center; color: #fff; font-size: 1.1rem;}