@charset "utf-8";

/*.loginBox*/
.login_wrap{width: 100%; height: calc(100% - 70px); background: #fff; position: relative;}
.login_wrap form{width: 410px; padding: 50px 30px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #ebebeb;}
.login_wrap form:after{content: ""; display: block; clear: both;}
.login_wrap form > div{float: left;}
.login_wrap form > div > input{display: block; width: 260px; height: 40px; padding-left: 25px;  font-weight: 300 !important; border: 1px solid #cccccc;}
.login_wrap form > div > input::placeholder{color: #a0a0a0; font-size: 1.5rem; font-family: NanumBarunGothic;}
.login_wrap form > div > input:nth-of-type(1){border-top-left-radius: 7px; border-top-right-radius: 7px;}
.login_wrap form > div > input:nth-of-type(2){border-top: none; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;}
.login_wrap form > input{display: block; float: right; width: 79px; height: 80px; font-size: 1.24rem; color: #fff; background: #7e8790; border-radius: 7px; line-height: 80px; border: none; cursor: pointer; transition: .2s; margin-bottom: 20px;}
.login_wrap form > p{clear: both; margin-bottom: 0;}
.login_wrap form > p input#id_Save{display: none;}
.login_wrap form > p input#id_Save + label{position: relative; display: inline-block; width: 20px; height: 20px; cursor: pointer; background: url(./img/idSaveN.png) no-repeat center; background-size: contain;}
.login_wrap form > p input#id_Save:checked + label{background: url(./img/idSave.png) no-repeat center; background-size: contain;}
.login_wrap form > p input#id_Save + label span{position: absolute; width: 101px; font-size: 1.5rem; color: #484848; top: 1px; left: 26px; font-weight: 300 !important; }
.login_wrap form > span{display: inline-block; width: 100%; height: 1px; background: #b4b4b4; margin: 20px 0;}
.login_wrap form > a{border: 1px solid #b4b4b4;; display: block; width: 100%; background: none; height: 40px; border-radius: 7px; cursor: pointer; transition: .2s;  font-weight: 300 !important; color: #7e8790; line-height: 40px; text-align: center;}
.login_wrap form > a:hover{text-decoration: none;}