@charset "utf-8";

/*.management_wrap*/
.management_wrap{width: 100%; height: calc(100% - 70px); position: relative;}
.management_wrap .table{display: block; width: 810px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); border-top: 2px solid #fff;}
.management_wrap .tr{width: 100%; height: 50px; border-bottom: 1px solid #fff;}
.management_wrap .tr:after{content: ""; display: block; clear: both;}
.management_wrap .td{float: left; width: 16.666%; height: 100%; line-height: 50px; text-align: center;}
.management_wrap .td span{color: #fff; display: inline-block; font-size: 1.333rem;}
.management_wrap .td input{color: #fff; background: none; display: inline-block; font-size: 1.333rem; width: 109px; height: 30px; border: 1px solid #fff; text-align: center; margin: 9px 0px;}
.management_wrap .td select{color: #fff; background: none; display: inline-block; font-size: 1.333rem; width: 109px; height: 30px; border: 1px solid #fff; margin: 9px 0px;text-align-last: center; text-align: center; -ms-text-align-last: center; -moz-text-align-last: center;}