@charset "utf-8";

.main{position: fixed; top: 50px; height: calc(100% - 100px); transition: .5s; z-index: 6;}
main{height: 100%;}
.react_app.open .main{width: calc(100% - 240px); left: 240px;}
.react_app.close_ .main{width: 100%; left: 0;}
.main .content{height: 100%; background: url(./img/background.jpg) no-repeat center; background-size: cover;}